@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code { }

<style>
.top-row { display: flex; }
.spacer { flex: 1; }

</style>
